.twig-ui-template-list-form .filters-wrapper .form-item {
  display: inline-block;
  margin-right: 1em;
}
.twig-ui-template-list-form .filters-wrapper .form-submit {
  margin-top: .75em;
  margin-left: 0;
}
